<%- include ("header"); -%>
<div class="container ">
  
  <!-- Message input -->
  <form action="/" method="post">
    <div class="form-group">
      <input type="text" class="form-control shadow" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the Prompt" name="prompttyped">
      <button class="button-43" role="button">Generate</button>
      <img src=<%= imgsrc %>  class="img-generated shadow-lg" alt="" srcset=""> 
      <h1>Follow Me On <a href="https://www.github.com/majid-2002"><i class="fa-brands fa-github" ></i></a></h1>
    </div>
  </form>
  

</div>

<%- include ("footer"); -%>
